* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #f1e6f359;
    /* background-image: url(); */
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.form-box {
    border: 1px solid lightgrey;
    position: relative;
    width: 280px;
    height: 380px;
    margin: 6% auto;
    padding: 56px;
    background-color: white;
    overflow: hidden;

}

.button-box {
    width: 221px;
    margin: 17px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #af3d101f;
    border-radius: 30px;
}

.btn1 {
    border: 0px;
    cursor: pointer;
    padding: 10px 30px;
    background: transparent;
    position: relative;
    outline: none;

}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    width: 110px;
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 155px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
    outline: none;
}

.submit-btn {
    width: 60%;
    padding: 10px 30px;
    margin: 44px auto 0 auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    display: block;
    border-radius: 30px;
    outline: none;
    border: 0px;
    cursor: pointer;

}

.check-box {
    margin: 18px 10px 18px 0px;
}

span {
    color: #777;
    font-size: 16px;
    bottom: 93px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.fa-brands.fa-instagram {
    color: #ff105f;
    margin: 2px;
}

.fa-brands.fa-facebook {
    color: darkblue;
    margin: 2px;
}

.fa-brands.fa-google {
    margin: 2px;
    color: rgb(18, 34, 177);
}

.icon {
    margin: 0px 81px 0 81px;
    font-size: 25px;
}